{
	# Глобальные настройки для Railway
	admin off
	persist_config off
	auto_https off
	log {
		format json
	}
	servers {
		trusted_proxies static private_ranges 100.0.0.0/8
	}
}

# Слушаем порт, который даёт Railway ($PORT)
:{$PORT:8080} {
	log {
		format json
	}

	root * /srv
	encode gzip
	file_server

	# Простая проверка живости сервиса
	handle /health {
		respond "ok" 200
	}

	handle {
		try_files {path} /index.html
	}
}
